<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{dynamicCards?.title}}</ion-title>

        <ion-buttons end *ngFor="let btn of dynamicCards?.buttons">
            <button class="badge-background" ion-button icon-only color="{{btn.color}}" (click)="onClickHeader(btn)">
                <ion-icon name="{{btn.icon}}"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content no-padding class="background-page gradient">
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-12 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12
                *ngFor="let it of dynamicCards?.items">
                <ion-row no-padding *ngIf="it">
                    <ion-col no-padding class="background-card card-background-parent">

                        <!-- Nội dung thông tin được view và điều hướng xem thông tin -->
                        <div *ngIf="it.content">
                            <content-card [contentData]="it.content" [showDetails]="it.show_detail"
                                (onClickSub)="onClickOpenLink($event)" (onClickImage)="onClickImage($event)">
                            </content-card>
                        </div>

                        <!-- Các kết quả và hành động cho người dùng nằm ở cuối -->
                        <social-card [resultData]="it.results" [actionData]="it.actions" [ownerData]="userInfo"
                            (onClickSub)="onClickAction($event,it.group_id)"></social-card>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>